@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/hero.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/hero.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/hero.jpg');
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/hero.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/hero.jpg');
}

.antartica-background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/antartica.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/antartica.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/antartica.jpg');
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/antartica.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/antartica.jpg');
}

.tokenisation-background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/tokenisation.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/tokenisation.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/tokenisation.jpg');
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/tokenisation.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/tokenisation.jpg');
}

.global-background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/global.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/global.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/global.jpg');
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/global.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../public/global.jpg');
}

.footer-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../public/water-footer.jpg');
  background-position: right bottom -300px;
}
